



.mark{
    float: left;

    margin-left: 300px;
    
    margin-top: 50px;
    
    width: 600;
    
    height: 400px;
    
    margin-right: 100px;

    color: aliceblue;
    
   
}

.tab{

margin-left: 300px;

margin-top: 50px;

width: 600;

height: 400px;

margin-right: 100px;
color: aliceblue;


}
.headi{
    text-align: center;
color: aliceblue;
}


